<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.6.9" targetFramework="net461" />
  <package id="AngularJS-Toaster" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="Toaster" version="2.1.10716.0" targetFramework="net461" />
  <package id="ToolBelt" version="1.8.11129.1" targetFramework="net461" />
</packages>