
<div ng-controller="UserDashBoardController">
    <h4>Welcome {{name}}</h4> 
    <div class="row">
        <div class="col-sm-6">LiveDoc Screen</div>
        <div class="col-sm-6">
            <h3 style="text-align:center">What I can do here</h3>
            <p>*When a member needs to use live medical consultation services from a docto online.</p>
            <p>*LiveDoc services avilable for 24/7/365.</p>
            <p>*Member can print prescription here.</p>
            &nbsp;
            &nbsp;
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="w3-container">
                <button ng-click="open()" ng-show="{{Mid}} == '7'" class="btn btn-success" style="background-color:red;border-color:red">Create Prescription</button>
                <a href="#!sendprescription" ng-show="{{Mid}} == '7'" class="btn btn-success " style="background-color:blue;border-color:blue">Send Prescription</a>
                <button ng-click="contactopen()"  class="btn btn-success" style="background-color:red;border-color:red">Contact-Us</button>

            </div>
        </div>

    </div>
</div>
